* {
    transition: all 0.5s;
  }
  
  body {
    background-image: url("../images/quizBack.jpg");
    overflow: hidden;
  }
  
  .col-sm-4 img {
    width: 60%;
    height: 30vh;
    cursor: pointer;
  }
  .col-sm-4:hover img {
    transform: scale(1.2);
  }
  .description {
    font-size: 0rem;
    position: relative;
    left: -4rem;
    margin-top: 2rem;
    color: white;
    text-transform: uppercase;
  }
  .col-sm-4:hover .description {
    font-size: 2rem;
  }
  .row {
    margin-top: 10rem;
  }
  
  @media screen and (max-width: 670px) {
    .col-sm-4 {
      margin: 2rem 0;
    }
  }
  